private/
app.log
app.log.*

# Enviroment 
.env
venv/
env/
venv/
venv-test/
ENV/

# Database
alembic.ini

# IDE
.idea/
.vscode/

# Documents
uploads/
processed_texts/
# Ignore the entire user_files directory. The user_files directory is dynamically created based on user IDs and system IDs.
user_files/
# Ignore files in temp uploads directory.
temp_uploads/*

# Local backup files
chat.backup.html
styles.backup.css
chat.backup.html
app.backup.py
auth.py.backup.py
models.backup.py
backup.js
README_v1.md
static/js/backup.js

#Related to Docker
docker-compose.yml
Dockerfile
.dockerignore
entrypoint.sh
wait-for-it.sh

#Python
__pycache__/
*.py[cod]
*$py.class
.vscode/

#Local Dev Tools
test_db_direct.py
test_aider_config.py
test_aider.py
test_modules.py
test_db.py
full_requirements.txt
.aider*
aider.conf.yml
Guidance.md
get-pip.py

# Node.js dependencies
node_modules/